<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <a href="#" class="brand-logo footlogo">Developers | TheDesignable</a>
        </div>
        <div class="col l4 offset-l2 s12 footnotes">               
          <ul class="sls">
          <h5 class="social">Find Us On!</h5>	
  		<li class="social"><a href="#">twitter</a> </li>
	<li class="social"><a href="#">Instagram</a> </li>
	<li class="social"><a href="#">Google +</a> </li>
	<li class="social"><a href="#">Github</a> </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <li class="link">&copy; All Rights Reserved&nbsp;&#124;&nbsp;<span>Blog Created With<a href="http://azerus.thedesignable.com" class="product">&nbsp;Azerus</a></span></li> 
      </div>
    </div>
